@model GuniKitchen.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <div class="row">
        <div class="col-8">
            <dl class="row">
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.ProductDesc)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.ProductDesc)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.ProductSize)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.ProductSize)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.ProductImage)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.ProductType.ProductTypes)
        </dd class>
    </dl>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <img src="~/@Model.ProductImage" width="100%" height="250px" style="border-radius: 5px;border: 1px solid #efefef"/>
        </div>
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
