@using GuniKitchen.Models
@using GuniKitchen.Utility
@using Microsoft.AspNetCore.Http
@model GuniKitchen.Models.Product
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Details";
}
@{

    List<Product> products = HttpContextAccessor.HttpContext.Session.Get<List<Product>>("products");
    Product product = null;
    if (products != null)
    {
        product = products.FirstOrDefault(c => c.ProductId == Model.ProductId);
    }

}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <div class="row">
        <div class="col-8">
      <dl class="row">
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.ProductDesc)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.ProductDesc)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.ProductSize)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.ProductSize)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.ProductImage)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>
        <dd class = "col-sm-5">
            @Html.DisplayFor(model => model.ProductType.ProductTypes)
        </dd>
    </dl>
    <input type="submit" class="btn btn-primary form-control" value="Add to cart"/>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <img src="~/@Model.ProductImage" width="100%" height="250px" style="border-radius: 5px;border: 1px solid #efefef"/>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
